In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv("/Users/garimapulastya/Documents/fno-trading-database/data/nse_fo_3m.csv")

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.head()

In [ ]:
pip install sqlalchemy mysql-connector-python

In [ ]:
engine = create_engine(
    "mysql+mysqlconnector://root:password@127.0.0.1:3306/fno_trading"
)

In [ ]:
#Load exchange in EXCHANGES table

exchanges = pd.DataFrame({
    'exchange_code': ['NSE'],
    'exchange_name': ['National Stock Exchange'],
    'timezone': ['IST']
})

exchanges.to_sql(
    'exchanges',
    con=engine,
    if_exists='append',
    index=False
)

In [ ]:
df.isnull().sum()

In [ ]:
#Load Instruments table
instruments = (
    df[['symbol']]
    .drop_duplicates()
    .assign(
        instrument_type='OPTION',
        underlying=df['symbol'],
        exchange_id=1
    )
)

instruments.to_sql(
    'instruments',
    con=engine,
    if_exists='append',
    index=False
)

In [ ]:
df.columns.tolist()

In [ ]:
#Load Expiries table

expiries = (
    df[['symbol', 'expiry_dt', 'strike_pr', 'option_typ']]
    .drop_duplicates()
)

instrument_map = pd.read_sql(
    "SELECT instrument_id, symbol FROM instruments",
    con=engine
)

expiries = expiries.merge(
    instrument_map,
    on='symbol',
    how='left'
)[['instrument_id', 'expiry_dt', 'strike_pr', 'option_typ']]

In [ ]:
expiries = (
    df[['symbol', 'expiry_dt', 'strike_pr', 'option_typ']]
    .drop_duplicates()
)

In [ ]:
expiries['option_typ'].value_counts(dropna=False)

In [ ]:
expiries = expiries[expiries['option_typ'].isin(['CE', 'PE'])]

In [ ]:
expiries['strike_pr'].isna().sum()

In [ ]:
expiries = expiries.dropna(subset=['instrument_id', 'strike_pr'])
expiries = expiries[expiries['option_typ'].isin(['CE', 'PE'])]
expiries['expiry_dt'] = pd.to_datetime(expiries['expiry_dt']).dt.date

In [ ]:
expiries.to_sql(
    'expiries',
    con=engine,
    if_exists='append',
    index=False
)

In [ ]:
#Load trades table
expiry_map = pd.read_sql(
    "SELECT expiry_id, instrument_id, expiry_dt, strike_pr, option_typ FROM expiries",
    con=engine
)

In [ ]:
print(expiry_map.isnull().sum())

In [ ]:
df_trades = df.merge(
    expiry_map,
    on=['expiry_dt', 'strike_pr', 'option_typ'],
    how='left'
)

df_trades['exchange_id'] = 1

In [ ]:
print(trades.columns)

In [ ]:
df_trades.columns.tolist()

In [ ]:
if 'Unnamed: 0' in trades.columns:
    trades = trades.drop(columns=['Unnamed: 0'])

In [ ]:

trades = trades.rename(columns={
    'open': 'open_pr',
    'high': 'high_pr',
    'low': 'low_pr',
    'close': 'close_pr',
    'contracts': 'volume'
})

In [ ]:
trades['trade_date'] = trades['timestamp'].dt.date

In [ ]:
trades['exchange_id'] = 1

In [ ]:
trades[['exchange_id', 'trade_date']].head()

In [ ]:
trades_fact = trades[
    [
        'instrument_id',
        'expiry_id',
        'exchange_id',
        'trade_date',
        'open_pr',
        'high_pr',
        'low_pr',
        'close_pr',
        'settle_pr',
        'volume',
        'open_int',
        'timestamp'
    ]
]

In [ ]:
trades['timestamp'] = pd.to_datetime(
    trades['timestamp'],
    format='%d-%b-%Y',
    errors='coerce'
)

In [ ]:
trades[['timestamp']].head()

In [ ]:
trades_fact.to_sql(
    'trades',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=50000
)

In [ ]:
print(trades_fact.isnull().sum())

In [ ]:
pd.read_sql("SELECT COUNT(*) FROM trades", con=engine)

In [ ]:
pd.read_sql("""
SELECT symbol, COUNT(*) 
FROM trades t
JOIN instruments i ON t.instrument_id = i.instrument_id
GROUP BY symbol
""", con=engine)

In [ ]:
instrument_map = pd.read_sql(
    "SELECT instrument_id, symbol FROM instruments",
    con=engine
)

In [ ]:
trades.columns.tolist()

In [ ]:
trades['expiry_id'].isnull().value_counts()

In [ ]:
expiry_map = pd.read_sql("""
    SELECT expiry_id, instrument_id, expiry_dt, strike_pr, option_typ
    FROM expiries
""", con=engine)

trades = df.merge(
    instrument_map,
    on='symbol',
    how='left'
)

trades = trades.merge(
    expiry_map,
    on=['instrument_id', 'expiry_dt', 'strike_pr', 'option_typ'],
    how='left'
)

if 'Unnamed: 0' in trades.columns:
    trades = trades.drop(columns=['Unnamed: 0'])

trades = trades.rename(columns={
    'open': 'open_pr',
    'high': 'high_pr',
    'low': 'low_pr',
    'close': 'close_pr',
    'contracts': 'volume'
})

trades['exchange_id'] = 1
trades['timestamp'] = pd.to_datetime(
    trades['timestamp'],
    format='%d-%b-%Y',
    errors='coerce'
)
trades['trade_date'] = trades['timestamp'].dt.date


final_trades = trades[
    [
        'instrument_id',
        'expiry_id',
        'exchange_id',
        'trade_date',
        'open_pr',
        'high_pr',
        'low_pr',
        'close_pr',
        'settle_pr',
        'volume',
        'open_int'
    ]
]

final_trades.to_sql(
    'trades',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=50000
)